.about_title {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  height: 20%;
  padding-top: 9rem;
}

.about_ctt_box {
  display: flex;
  justify-content: space-around;
  height: 80%;
}

.about_ctt_lbox,
.about_ctt_rbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33.3333334%;
}

.about_ctt {
  width: 33.333333334%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about_ctt:nth-child(2) {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: url("../img/aboutme.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10rem;
}

.about_ctt img {
  max-width: 100%;
  max-height: 100%;
}

.about_ctt_card {
  width: 20rem;
  height: 20rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.about_ctt_img,
.about_ctt_text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.about_ctt_img {
  backface-visibility: hidden;
}

.about_ctt_text {
  padding: 2rem 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
  font-weight: 700;
}

/*card 이미지와 마우스 hover시에 뒤집히기*/
.about_ctt_card:hover.show {
  animation: about_ctt_3d 1.5s ease forwards;
}

@keyframes about_ctt_3d {
  0% {
    transform: none;
  }
  100% {
    transform: rotateY(180deg);
  }
}

.about_ctt_lbox > .about_ctt .about_ctt_card:first-child .about_ctt_img {
  background: url("../img/js-logo.png");
  background-size: cover;
}

.about_ctt_lbox > .about_ctt .about_ctt_card:nth-child(2) .about_ctt_img {
  background: url("../img/css-logo.png");
  background-position: center;
  background-size: cover;
}

.about_ctt_lbox > .about_ctt .about_ctt_card:last-child .about_ctt_img {
  background: url("../img/html-logo.png");
  background-size: cover;
  background-position: center;
}

/* card안에 이미지 */
.about_ctt_lbox .about_ctt_card:first-child .about_ctt_text_img {
  background: url("../img/js-logo.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.about_ctt_lbox .about_ctt_card:nth-child(2) .about_ctt_text_img {
  background: url("../img/css-logo.png");
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
}

.about_ctt_lbox .about_ctt_card:last-child .about_ctt_text_img {
  background: url("../img/html-logo.png");
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
}

/* card 안에 게이지*/
.about_ctt_lbox
  .about_ctt_card:first-child
  .about_ctt_text_gauge_progress:last-child {
  width: 70%;
}

.about_ctt_lbox
  .about_ctt_card:nth-child(2)
  .about_ctt_text_gauge_progress:last-child {
  width: 90%;
}

.about_ctt_lbox
  .about_ctt_card:last-child
  .about_ctt_text_gauge_progress:last-child {
  width: 100%;
}

.about_ctt_text_gauge {
  width: 70%;
  display: flex;
  position: relative;
}

.about_ctt_text_gauge_progress {
  top: -10px;
  position: absolute;
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.about_ctt_text_gauge_progress:last-child {
  background: tomato;
}
