/* .intro {
  background: url("../img/section1back.jpg");
  background-size: cover;
  position: relative;
} */

.intro {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.intro_title {
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.intro_ctt {
  color: #000000;
  text-align: center;
  font-size: 3rem;
}

.intro_ctt_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 0.5);
}

.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
