.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  position: absolute;
}

.portfolio_ctt_prev_btn,
.portfolio_ctt_next_btn {
  width: 5%;
  font-size: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio_title {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 7rem;
}

.portfolio_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.portfolio_ctt_box_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio_ctt_box {
  width: 90%;
  display: none;
}

.portfolio_ctt_box.active {
  display: flex;
  animation: portfolio 1s ease-in-out forwards;
}

@keyframes portfolio {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.portfolio_ctt_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.portfolio_ctt_img img {
  max-width: 100%;
}

.portfolio_ctt_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 5rem;
}
.portfolio_ctt_text_title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio_ctt_text_ctt {
  padding: 1rem;
  font-size: 1.7rem;
  line-height: 3rem;
}
