@import "reset.css";
@import "skill.css";
@import "nav.css";
@import "intro.css";
@import "portfolio.css";
@import "about.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  position: relative;
  color: #333;
}

* {
  box-sizing: border-box;
}

section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

nav {
  z-index: 100;
}

.intro.showing,
.about.showing,
.portfolio.showing,
.skill.showing {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  z-index: 99;
}

@media (max-width: 1230px) {
  .video-bg {
    display: none;
  }

  .intro {
    background: url("../img/section1back.jpg");
    background-size: cover;
    position: relative;
  }
}

@media (max-width: 1100px) {
  .skill_ctt_imgbox {
    display: none;
  }
  .skill_ctt_box {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .portfolio_ctt_box {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .portfolio_ctt_text_box {
    padding: 0;
  }

  .portfolio_ctt_text_ctt {
    display: none;
  }

  .portfolio_ctt_text_ctt:last-child {
    display: block;
  }

  .portfolio_ctt_img {
    width: 100%;
  }

  .portfolio_ctt_text_title {
    text-align: center;
  }
}

/*모바일 일단 생략*/
@media (max-width: 658px) {
  .skill_ctt_box {
    justify-content: space-around;
  }
}

@media (max-width: 490px) {
  .intro_title {
    font-size: 2rem;
  }

  .intro_ctt {
    display: none;
  }

  .skill_ctt_card {
    width: 15rem;
    height: 15rem;
  }
  .skill_ctt_box {
    flex-direction: column;
  }
  .skill_ctt_rbox {
    display: none;
  }
  .skill_ctt {
    justify-content: center;
  }

  .skill_ctt_lbox .skill_ctt_card {
    margin-top: 25px;
  }
  .skill_ctt_lbox .skill_ctt_card:first-child {
    margin: 0;
  }

  .portfolio_ctt_box:first-child > .portfolio_ctt_img img {
    width: 180px;
    height: 300px;
  }

  .portfolio_title {
    margin: 0;
  }
}
